

/* Estilos para los controles de asistencia */
.attendance-controls {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin: 12px;
}

/* Estilos para el control de sesiones */
.session-controls {
  margin-bottom: 20px;
}

/* Estilos para la cabecera de sesión */
.session-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilos para la etiqueta de número de asistencia */
.session-label {
  font-weight: bold;
  color: #333;
}

/* Contenedor para las fechas de sesión con desplazamiento horizontal */
.session-dates-container {
    overflow-x: auto;
    white-space: nowrap; /* Evita el salto de línea en los elementos */
    margin-bottom: 10px;
    scrollbar-width: thin;
  }

/* Estilos para la barra de desplazamiento horizontal */
.session-dates-container::-webkit-scrollbar {
  height: 8px;
}

.session-dates-container::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Color de la barra de desplazamiento */
  border-radius: 4px;
}

/* Estilos para cada grupo de fecha individual */
.session-date-group {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px; /* Espacio entre grupos de fecha */
}

/* Estilos para los botones de fecha */
.date {
  background-color: #3498db; /* Color de fondo para los botones de fecha */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para los inputs de fecha */
.date-input {
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

/* Estilos para los botones de adición y eliminación */
.add-session,
.remove-session {
  background-color: #2ecc71; /* Verde para el botón de adición */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%; /* Forma circular */
  cursor: pointer;
  transition: transform 0.1s;
  font-size: 1.5rem;
}

/* Rojo para el botón de eliminación */
.remove-session {
  background-color: #e74c3c;
}

/* Efecto de transformación al pasar el ratón sobre los botones */
.add-session:hover,
.remove-session:hover {
  transform: scale(1.1);
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
  .session-controls,
  .session-dates-container {
    flex-direction: column;
  }

  .session-date-group {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/* Nuevos estilos para la barra de navegación */
.navbar {
    background-color: #3498db;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }