.App-p {
  text-align: center;
}



.Profile-card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px;
  margin: auto;
  max-width: 800px;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Profile-image {
  background-image: url('../../assets/imagenes/home3.jpeg'); /* Reemplaza con tu imagen de perfil */
  background-size: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 5px solid #fff; /* Un borde para crear un efecto "elevado" para la imagen */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.Personal-info {
  text-align: center;
  margin-top: 20px;
  color: #333;
  background: linear-gradient(145deg, #e6e8ec, #ffffff);
  padding: 20px;
  border-radius: 15px;
}

.Personal-info h2 {
  color: #1c4e80; /* Un color sólido para los títulos */
  margin-bottom: 15px;
}

.Personal-info p {
  font-size: 18px; /* Un tamaño de fuente legible para la información */
  line-height: 1.6; /* Espaciado de línea para una mejor legibilidad */
  color: #4a4a4a; /* Un color de texto que no sea tan duro como el negro puro */
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .Profile-card {
    width: 90%;
    padding: 20px;
  }

  .Profile-section {
    padding: 20px 0;
  }
}

.perfil-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}